## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [55]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [56]:
# 1) Seu código aqui
df_mat_total = df_mat/24
df_por_total = df_por/18
df_geo_total = df_geo/8
df_ing_total = df_ing/8
df_his_total = df_his/8
df_fis_total = df_fis/12
df_qui_total = df_qui/12
print("Matemática: ")
print(df_mat_total)
print("Português: ")
print(df_por_total)
print("Geografia: ")
print(df_geo_total)
print("Inglês: ")
print(df_ing)
print("História: ")
print(df_his_total)
print("Física: ")
print(df_fis_total)
print("Química: ")
print(df_qui_total)

Matemática:
    Qt_acertos
0     0.250000
1     0.791667
2     0.583333
3     0.416667
4     0.291667
..         ...
95    0.250000
96    0.333333
97    0.958333
98    0.000000
99    0.458333

[100 rows x 1 columns]
Português:
    Qt_acertos
0     0.388889
1     0.555556
2     0.888889
3     0.388889
4     0.111111
..         ...
95    0.222222
96    0.055556
97    0.277778
98    0.555556
99    0.833333

[100 rows x 1 columns]
Geografia:
    Qt_acertos
0        0.875
1        0.000
2        0.000
3        0.375
4        0.250
..         ...
95       0.875
96       0.500
97       0.000
98       0.375
99       0.000

[100 rows x 1 columns]
Inglês:
    Qt_acertos
0            3
1            0
2            5
3            4
4            7
..         ...
95           1
96           6
97           2
98           1
99           1

[100 rows x 1 columns]
História:
    Qt_acertos
0        0.125
1        0.000
2        0.875
3        0.000
4        0.000
..         ...
95       0.500
96       0.125
97       0.500
98       0.625
99       0.750

[100 rows x 1 columns]
Física:
    Qt_acertos
0     0.666667
1     0.916667
2     0.333333
3     0.000000
4     0.750000
..         ...
95    0.750000
96    0.333333
97    0.083333
98    0.833333
99    0.583333

[100 rows x 1 columns]
Química:
    Qt_acertos
0     0.250000
1     0.666667
2     0.333333
3     0.666667
4     0.250000
..         ...
95    0.250000
96    0.250000
97    0.416667
98    0.916667
99    0.166667

[100 rows x 1 columns]

In [57]:
# 2) Seu código aqui
df_total_acertos = df_qui + df_fis + df_his + df_ing + df_geo + df_por + df_mat
print("O total de acertos de cada aluno: ")
print(df_total_acertos)

O total de acertos de cada aluno:
    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [58]:
# 3) Seu código aqui
df_perc_geral = df_total_acertos/90
df_perc_geral

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [59]:
df_perc_geral

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [60]:
# 4) Seu código aqui

df_perc_geral["Aprovado"] = 0
df_perc_geral.loc[df_perc_geral["Qt_acertos"] >= 0.45, "Aprovado"] = 1
alunos_acima = df_perc_geral["Aprovado"].sum()
print(f"{alunos_acima} alunos tiveram nota maior que 45.")

47 alunos tiveram nota maior que 45.

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [142]:
# QUESTÃO 1: 
coluna_mat = "desqualificados em mat"
coluna_fis = "desqualificados em fis"
coluna_quim = "desqualificados em quim"

df = pd.DataFrame(
                index=["N. de Alunos"],
                 columns=[coluna_mat, coluna_fis, coluna_quim])
df.iloc[0,0] = 3
df.iloc[0,1] = 12
df.iloc[0,2] = 9
df

,desqualificados em mat,desqualificados em fis,desqualificados em quim
N. de Alunos,3,12,9

In [150]:
# QUESTÃO 2: 
num_total = df["desqualificados em mat"] + df["desqualificados em fis"] + df["desqualificados em quim"]
num_total

N. de Alunos    24
dtype: object

In [155]:
#QUESTÃO 3:

In [101]:
# seu código aqui
codigo = "Desqualificado"
df_mat
df_mat["desq.em.mat"]
resultado_mat = df_mat[df_mat["desq.em.mat"] == codigo ]
resultado_mat

    Qt_acertos     desq.em.mat
25           0  Desqualificado
94           0  Desqualificado
98           0  Desqualificado

In [119]:
df_fis["desq.em.fis"] = ""
df_fis.loc[df_fis["Qt_acertos"] == 0, "desq.em.fis"] = "Desqualificado"
resultado_fis = df_fis[df_fis["desq.em.fis"] == codigo]
df_fis.drop("desq_em_fis", axis=1)
resultado_em_fis = resultado_fis.drop("desq_em_fis", axis=1)
resultado_em_fis

    Qt_acertos     desq.em.fis
3            0  Desqualificado
6            0  Desqualificado
12           0  Desqualificado
26           0  Desqualificado
35           0  Desqualificado
49           0  Desqualificado
56           0  Desqualificado
65           0  Desqualificado
66           0  Desqualificado
72           0  Desqualificado
73           0  Desqualificado
84           0  Desqualificado

In [133]:
df_qui["desq.em.qui"] = ""
df_qui.loc[df_qui["Qt_acertos"] == 0, "desq.em.qui"] = "Desqualificado"
resultado_qui = df_qui[df_qui["desq.em.qui"] == codigo]
resultado_qui

    Qt_acertos     desq.em.qui
10           0  Desqualificado
14           0  Desqualificado
20           0  Desqualificado
26           0  Desqualificado
27           0  Desqualificado
33           0  Desqualificado
74           0  Desqualificado
89           0  Desqualificado
92           0  Desqualificado

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [143]:
arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [161]:
# 1) Sua solução aqui
vac_acre = pd.read_csv('https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv', sep=";")

HTTPError: HTTP Error 403: Forbidden

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 3) solução alternativa

In [ ]:
# 4)

In [ ]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1)

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 4)

In [ ]:
# 5)